<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta charset="utf-8">
		<title>about:blank</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body>
<div id="enigma">
  <input v-model="word1" placeholder="key"><br>
  <input v-model="word2" placeholder="phrase"><br>
  <input readonly v-model="res" placeholder="result">
</div>
<script src="script.js"></script>
	</body>
</html>